@font-face {
    font-family: "Trueno";
    src: url("/public/fonts/TruenoLt.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Trueno";
    src: url("/public/fonts/TruenoRg.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Trueno";
    src: url("/public/fonts/TruenoSBd.otf") format("opentype");
    font-weight: 600;
}